DATA=./data/Train_and_Validation
OUT=./result
CALIB=./calibration
LIMIT=3
PORT=8765
DOCKER_UID=1000
DOCKER_GID=1000

DOCKER_CPUS=1.0
DOCKER_MEMORY=1536m
OMP_NUM_THREADS=1
OPENBLAS_NUM_THREADS=1
NICE_LEVEL=10
IONICE_CLASS=3
IONICE_LEVEL=7

# OUT=pdiseg-result
# CALIB=pdiseg-calibration
# DATA=./dataset
