DATA=./data/Train_and_Validation
OUT=./result
CALIB=./calibration
TEMPLATES=./templates
REPORT=./docs/report
LIMIT=9999
MAX_IMAGES=
OFFSET=0
PROGRESS_EVERY=25
THREADS=1
WORKERS=6
PDISEG_BACKEND=auto
PDISEG_BACKEND_LOG=1
DOCKER_GPU=auto
DOCKER_CPUS=6.0
DOCKER_MEMORY=4g
DOCKER_NICE=10
PORT=8765
DOCKER_UID=1000
DOCKER_GID=1000
